{% extends "rms/base.html" %}

{% block content %}
{% load static %}

<main class="content">
    <!-- Title -->
    <div class="flex center heading">
        <div class="flex-column text-center">
            <div class="title bold">CP317 - Software Engineering<hr></div>
            
            <div class="sub-title">Group 11</div>
            
          </div>
    </div>

    <div class="flex-div">
        <div class="flex">
            <div class="title">Purpose of this Project<hr></div>
        </div>
        <div>
            {% lorem %}
        </div>
    </br>
        <div class="flex">
            <div class="title">Future Plans<hr></div>
        </div>
        <div>
            {% lorem %}
        </div>
    </br>
        <div class="flex">
            <div class="title">TO-DO<hr></div>
        </div>
        <div>
            {% lorem %}
        </div>
    </div>
</main>

{% endblock content %}