{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">

    <title> RMS </title>
</head>
<body>
    <nav>
        <div id="navbar">
            <a href="" class='navbar-header ' style='color: rebeccapurple'>RMS</a>
            <div class="navbar-links">
                <a href="" class="navbar-link">Food List</a>
                <a href="" class="navbar-link">Food</a>
            </div>
        </div>
    </nav>
    {% block content %}
    <!-- inherited content here -->
    {% endblock content %}
</body>



</html>

