
/* Global Font */
* {
  font-family: 'Open Sans', sans-serif;
}
/*----------------------------------*/

/* Body Styling */
body {
  margin: 0;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.content {
  display: flex;
  flex-grow: 1;
  margin: 4% 7% 4% 7%;
  justify-content: center;
  flex-direction: column;
}
/*----------------------------------*/

/* Header/Logo Title Styling */
header {
  display:flex;
  padding: 20px;
  text-align: center;
  background: #000000;
  color: white;
  flex-shrink: 0;
}

header .text {
  font-size: 50px;
}

/*----------------------------------*/

/* Navigation Bar */

.navbar {
  display: flex;
  background-color: rgb(65, 63, 63);
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/*----------------------------------*/

/* Container Formatting */

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-div {
  margin: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  border-style:solid;
  border-radius: 20px;
  flex-flow: wrap column;
  margin: 15px;
  padding: 15px;
  max-width: min-content;
  max-height: min-content;
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
}

.card-text{
  padding:10px;
  margin:10px;
}

.card-img{
  width: 200px;
  height: 200px;
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
  border-style:solid;
  border-radius: 50%;
  object-fit: cover;
  margin:10px;
}

.box{
  margin:15px;
  padding:15px;
}

.box12{
  margin:7.5px;
  padding:7.5px;
}

.box30{
  margin:30px;
  padding:30px;
}

/*----------------------------------*/

/* Alignment Tags */

.vertical {
  flex-direction: column;
  flex-wrap: wrap;
}

.horizontal {
  flex-direction: row;
  flex-wrap: wrap;
}

.center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.heading {
  margin: 0 0 30px 0;
}

.s10 {
  padding:10px;
  margin:10px;
}

.w25{
  max-width: 75%;
}

.w66{
  max-width: 33.33%;
}

/*----------------------------------*/

/* Text Formatting */

.title {
  font-size: 30px;
}

.sub-title {
  font-size: 25px;
}

/* Weight/Color Formatting */

.bold{
  font-weight: bold;
}

.green {
  color:green;
}

/* List Formatting */

.rm-list{
  list-style-type:none;
  margin:0;
  padding:0;
}

/*----------------------------------*/

/* Global */

hr{
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
}

/*----------------------------------*/

/* Footer */
.footer {
 background-color: rgb(65, 63, 63);
 color:white;
 font-size:12px;
 padding:1em;
 flex-shrink: 0;
}
/*----------------------------------*/

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}
/*----------------------------------*/