{% extends "rms/base.html" %}

{% block content %}
{% load static %}

    <!-- Title -->
    <div class="flex center heading">
        <div class="flex-column text-center">
            <div class="title bold">About Us<hr></div>
            <div class="sub-title">We are Group 11.</div>
          </div>
    </div>

    <!-- Body Wrapper-->
    <div class="flex vertical center">
        
        <!-- Content -->
        <div class="flex center">
            <div class="vertical box">
                <div class="title text-center">
                    Team
                </div>
                <hr>
        
                <div class="text-center">
                    <ul class="rm-list">
                        <li>Anastasia</li>
                        <li>Mohammed</li>
                        <li>Kiran</li>
                        <li>Spencer</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

{% endblock content %}