{% extends "rms/base.html" %}

{% block content %}
{% load static %}

<main class="content">
<!-- Title -->
  <div class="flex-container center">
    <div class="flex-column text-center">
      <div class="fs30">
        Menu
      </div>
      <div>
        View our selection of nutritious food.
      </div>
    </div>
  </div>

  <!-- Generated Food -->
  <div class="flex-container center">

    <!-- Appetizers -->
    <div class="flex-vertical">
      <div class="flex-sm center text-center">
        Appetizers
      <div class="flex-container flex-horizontal center text-center">
        {% for food in food_objects %}
        {% if food.type == 'AP' %}

        <div class="flex-container flex-vertical card">
          <img src="{{ food.image.url }}" class="img">
          <p>
            {{ food }}</br>
            ${{ food.price }}</br>
            {{food.description}}
          </p>
        </div>

        {% endif %}
        {% endfor %}
      </div>
    </div>
  

    <!-- Mains -->
    <div class="flex-vertical">
      <div class="flex-sm center text-center">
        Mains
      <div class="flex-container flex-horizontal center text-center">
        {% for food in food_objects %}
        {% if food.type == 'MN' %}

        <div class="flex-container flex-vertical card">
          <img src="{{ food.image.url }}" class="img">
          <p>
            {{ food }}</br>
            ${{ food.price }}</br>
          </p>
        </div>

        {% endif %}
        {% endfor %}
      </div>
    </div>

    <!-- Dessert -->
    <div class="flex-vertical">
      <div class="flex-sm center text-center">
        Dessert
      <div class="flex-container flex-horizontal center text-center">
        {% for food in food_objects %}
        {% if food.type == 'DT' %}

        <div class="flex-container flex-vertical card">
          <img src="{{ food.image.url }}" class="img">
          <p>
            {{ food }}</br>
            ${{ food.price }}</br>
            {{food.description}}
          </p>
        </div>

        {% endif %}
        {% endfor %}
      </div>
    </div>

  </div>



</main>
  
{% endblock content %}