{% extends "rms/base.html" %}

{% block content %}
{% load static %}

<!-- Title -->
  <div class="flex center heading">
    <div class="flex-column text-center">
      <div class="title bold">Menu</div>
      <div>View our selection of nutritious food.</div>
    </div>
  </div>

  <!-- Generated Food -->
  <div class="flex center">
    <div class="vertical w25">
      
      <!-- Appetizers -->
      <div class="center text-center box">
          <text class="bold">Appetizers</text>
          <hr class="w66">
        <div class="flex horizontal center box">
          {% for food in food_objects %}
          {% if food.course == 'AP' %}

          <div class="flex card">
            <img src="{{ food.image.url }}" class="card-img">
            <div class="card-text text-center">
                <div class="bold">{{ food }}</div>
                <div class="bold green">${{ food.price }}</div>
                <div class="box12">
                <button data-product= "{{food}}" data-action="add" class="add-btn update-cart"> Add to Cart </button>
                </div>
                <div>
                  {{food.description}}
                </div>
            </div>
          </div>

          {% endif %}
          {% endfor %}
        </div>
      </div>
  

      <!-- Mains -->
      <div class="center text-center box">
        <text class="bold">Mains</text>
        <hr class="w66">
        <div class="flex horizontal center box">
          {% for food in food_objects %}
          {% if food.course == 'MN' %}

          <div class="flex card">
            <img src="{{ food.image.url }}" class="card-img">
            <div class="card-text text-center">
                <div class="bold">{{ food }}</div>
                <div class="bold green">${{ food.price }}</div>
                <div class="box12">
                  <button data-product= "{{food}}" data-action="add" class="add-btn update-cart"> Add to Cart </button>
                </div>
                <div>
                  {{food.description}}
                </div>
            </div>
          </div>

            {% endif %}
            {% endfor %}
        </div>
      </div>

      <!-- Desserts -->
      <div class="center text-center box">
        <text class="bold">Desserts</text>
        <hr class="w66">
        <div class="flex horizontal center box">
          {% for food in food_objects %}
          {% if food.course == 'DT' %}

          <div class="flex card">
            <img src="{{ food.image.url }}" class="card-img">
            <div class="card-text text-center">
                <div class="bold">{{ food }}</div>
                <div class="bold green">${{ food.price }}</div>
                <div class="box12">
                  <button data-product= "{{food}}" data-action="add" class="add-btn update-cart"> Add to Cart </button>
                </div>
                <div>
                  {{food.description}}
                </div>
            </div>
          </div>

          {% endif %}
          {% endfor %}
        </div>
      </div>

      <!-- Drinks -->
      <div class="center text-center box">
        <text class="bold">Drinks</text>
        <hr class="w66">
        <div class="flex horizontal center box">
          {% for food in food_objects %}
          {% if food.course == 'DR' %}

          <div class="flex card">
            <img src="{{ food.image.url }}" class="card-img">
            <div class="card-text text-center">
                <div class="bold">{{ food }}</div>
                <div class="bold green">${{ food.price }}</div>
                <div class="box12">
                  <button data-product= "{{food}}" data-action="add" class="add-btn update-cart"> Add to Cart </button>
                </div>
                <div>
                  {{food.description}}
                </div>
            </div>
          </div>

          {% endif %}
          {% endfor %}
        </div>
      </div>

    </div>
  </div>
  
{% endblock content %}